SUPABASE_DB_PASSWORD=
PRISMA_PG_USER_PASSWORD=
DATABASE_URL=
# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL=
# Direct connection to the database. Used for migrations.
DIRECT_URL=
# Hash Salt
SALT_ROUNDS=